[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.Converter
Exec=/usr/bin/ru.template.Converter
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=Converter
ExecDBus=/usr/bin/ru.template.Converter
